body {
    font-family: 'Source Sans 3', Helvetica, Arial, sans-serif;
    background-color: rgba(56, 69, 80, 1);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    font-size: 16px;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    background-color: rgba(185, 185, 175, 1);
    height: 180px;
    border-radius: 100%;
    border: 2px solid white;
}
h1 {
    color: white;
    font-weight: 500;
    font-size: 3.2em;
    line-height: 1em;
    margin: 40px 0 15px;
}
#description {
    color: white;
    font-size: 1.2em;
    margin: 15px 0 40px;
    font-weight: 300;
}
#content {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.content > * {
    flex: 0 0 auto;
}
ul > li > a {
    height: 32px;
    display: inline-block;
}
ul > li > a > img {
    height: 32px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
ul > li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 0 5px;
    display: inline-block;
    list-style: none;
    width: 62px;
    height: 62px;
    flex: 0 0 auto;
}
ul > li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
    font-weight: 300;
}
.bubble {
   width: 260px;
   padding: 15px;
   color: white;
   margin-top: 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: #ffffff solid 2px;
}
.bubble:first-of-type {
    margin-top: 0;
}
